<div layout="column">
	<div layout="row">
		<div layout="column" flex>
			<div layout="row" >
				 <md-toolbar class="md-hue-2" >
					 <div class="md-toolbar-tools">
						 <div layout="row" layout-align="space-between" class="md-header-align">
						 <img src="images/amexlogo.png" alt="logo" class="md-image" />
						 <h1 class="md-header">{{ 'main.siteHeader' | i18n }}</h1>
						   <ln-login></ln-login>
						   <ln-profile></ln-profile>
						  </div>
            </div>
				 </md-toolbar>
			  </div>
			<div layout="column" flex>
				<md-toolbar class="md-hue-2">
					 <div class="md-toolbar-navigation">
						 <ln-menu-bar></ln-menu-bar>
					</div>
					 <md-content flex class="md-content-margin">
					 <div layout="row" class="requestsearch">
					 <h1>{{ 'main.siteSearch' | i18n }}</h1>
					 <a href="javascript:void(0)">
					 	<img src="images/requestSearch.png" alt="logo" class="requestSearchIcon" />
					 </a>
						<md-button class="md-accent md-raised md-hue-1">{{ 'main.save' | i18n }}</md-button>
						<md-button class="md-accent md-raised md-hue-1">{{ 'main.cancel' | i18n }}</md-button>
					 </div>
					 </md-content>
				</md-toolbar>
			</div>
	 <div>
            <div class="card">
				<div layout="column">
					<div layout="row" class="tableborder" >
					  <div class="tblhdr col1">{{ 'main.requestId' | i18n }}</div>
						<div class="tblhdr col2">{{ 'main.requestTitle' | i18n }}</div>
              <div class="tblhdr col3">{{ 'main.requestor' | i18n }}</div>
              <div class="tblhdr col4">{{ 'main.businessUnit' | i18n }}</div>
              <div class="tblhdr col5">{{ 'main.market' | i18n }}</div>
              <div class="tblhdr col6">{{ 'main.date' | i18n }}</div>
              <div class="tblhdr col7">{{ 'main.phase' | i18n }}</div>
              <div class="tblhdr col8">{{ 'main.status' | i18n }}</div>
						</div>
						<div layout="row" class="tableborder" ng-repeat="item in requestObject">
							<div class="tblrow col1"><a href="javascript:void(0)">{{item.requestid}}</a></div>
							<div class="tblrow col2">{{item.requesttitle}}</div>
							<div class="tblrow col3">{{item.requestor}}</div>
							<div class="tblrow col4">{{item.businessunit}}</div>
							<div class="tblrow col5">{{item.market}}</div>
							<div class="tblrow col6">{{item.date}}</div>
							<div class="tblrow col7">{{item.phase}}</div>
							<div class="tblrow col8">{{item.status}}</div>
						</div>
				</div>
			</div>
    </div>
    <ln-input></ln-input>
	<ln-footer></ln-footer>
</div>
